{% extends 'base/base.html' %}
{% load static %}



{% block content %}


<section class="hero">
      <div class="hero-content">
            <h1>Welcome to the Future of Blogging</h1>
            <p>Read articles that inspire, educate, and entertain. Stay updated with the latest trends and
                  insights.</p>
            <a href="#" class="btn primary">Start Reading</a>
      </div>
</section>

<!-- Featured Posts -->
<section class="posts">
      <h2>Featured Posts</h2>
      <div class="post-grid">
            {% for blog in featured_blogs %}
            <article class="post-card">
                  {% if blog.blog_image %}
                  <img src="{{ blog.blog_image.url }}" alt="{{ blog.title }}">
                  {% else %}
                  <img src="{% static 'images/default.jpeg' %}" alt="Default">
                  {% endif %}

                  <h3>{{ blog.title }}</h3>
                  <p>{{ blog.short_description|truncatewords:20 }}....</p>
                  <a href="#">Read More →</a>
            </article>
            {% endfor %}
      </div>
</section>

{% endblock %}



<!-- Footer -->